.customCursor {
  color: white;
}

/**
 * If you only want to use line numbering
 */

pre[class*="language-"].line-numbers {
  padding: 0;
  padding-left: 2.8em;
}

.line-numbers-rows > span::before {
  padding-left: 0.4em;
}
